.DS_Store
.ipynb_checkpoints/
21styear/
atlases/
bids_ids.json
bids_ids_final.json
black/
bronx/
check_demographics.py
comparison/
dcm_examples/
forgot/
lucy/
merlin/
milkyway/
narratives-old/
notthefall/
pieman/
piemanpni/
prettymouth/
schema/
scripts/
shapes/
sherlock/
slumlordreach/
staging-old/
stimuli/
subjects_spreadsheet.tsv
tunnel/
